<html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Resume Analyse</title>
<style>
body {
background: linear-gradient(
                     rgba(20,20,20, .75), 
                     rgba(20,20,20, .75)),
                     url( 'https://mytaxcoursesonline.com/pub/media/catalog/product/cache/0f601b5a458e6d99e68889ba1d4114a0/f/i/financial_planning.jpg');

background-size: cover;
background-repeat: no-repeat;
}
.container {
  border: 2px solid #ccc;
  padding: 10px;
  width: 20em;
height:21em;
background-color:white;
}


.hello{
opacity: 0.5;
}
</style>
</head>
   <body>
      <form action = "/file" method = "POST" 
         enctype = "multipart/form-data">
         <input type = 'text' name = "file" id="file" />
         <input type = "submit"/>
      </form> 
<p>{{answer}}</p>	  
   </body>
</html>